<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>История заказов</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav_link" href="menu.html">Назад</a>
                <a class="nav_link" href="entry.html">Выйти</a>
            </nav>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Статус</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${listOrders}">
                    <td th:text="'№  '+${order.idOrder}" /></td>
                    <!-- <td> <p th:text="'Дата:  '+${orders.dateorder}"/></td>-->
                    <td th:text="'Статус:  '+${order.status}" /></td>
                    <!--<td> <p th:each="orders: ${Orders.listProducts[0]}" th:text="${products.title}"/></td>-->
                    <td th:text="'Цена:  '+${order.price}"/></td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
</body>
</html>