<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8" content="text/html; charset=UTF-8" />
    <title>Каталог</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<header class="header">
    <div class ="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>


            <nav class="nav">
            <!--<a class="nav_link" href="Catalog.html">Каталог товаров</a>-->
                <a class="nav_link" href="history.html">История заказов</a>
                <a class="nav_link" href="entry.html">Выйти</a>
            </nav>

        </div>

        <form action="#" th:action="@{/menu.html}" object="${addProd}" method="post">
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Осталось</th>
                        <th>Количество</th>
                        <th>Выбрано</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${allProducts}">
                        <td th:text="${product.title}"/>
                        <td th:text="${product.description}"/>
                        <td th:text="${product.amount}"/>
                        <td th:text="${product.price}"/>
                        <td>
                            <label class="check">
                                <input type="checkbox" field="*{checkedItems}" name="checkedItems" th:value="${product.idProduct}">
                                <span>Добавить </span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="add_order">
                <button type="submit" class="button">Создать заказ</button>
            </div>

            <div th:if="${errorDataMenu != null || successData != null}">
                <h1>Состояние:</h1><p th:text="${errorDataMenu} != null ? ${errorDataMenu} : ${successData}"/>
            </div>

        </form>
    </div>
</header>
</body>
</html>