<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Статистика (по товарам)</title>
    <link rel="stylesheet"  href="../../../../1.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <img src="../../../../logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav_link" href="menuAdm.html">Назад</a>
                <a class="nav_link" href="entryAdm.html">Выйти</a>
            </nav>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Заказано</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${statistics}">
                <td th:text="${product.id}"/>
                <td th:text="${product.title}"/>
                <td th:text="${product.profit}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>